/*  */

@media (max-width: 1024px) and (min-width: 768px) {
  #wrapper {
    width: 100%;
    max-width: 996px;
    position: relative;
  }

  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  #carousel::-webkit-scrollbar {
    height: 0;
  }
  .input-main {
    width: 24rem;

    height: 2.8rem;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
  }
  .p-input {
    font-weight: bolder;
    color: white;
    font-size: 0.7rem;
  }

  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }

  #content {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  .item {
    width: 13rem;
    height: 13rem;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000029;
}
  .item-1 {
    /* background-color: #fff; */
    padding: 5px;
    border-radius: 20px;
    width: 14rem;
  }

  .h1-you-need {
    font-size: 1rem;
    font-weight: bolder;
    color: #f1f1f1;
    letter-spacing: 1px;
    line-height: 1.2;
  }
 
  .card-text {
    color: black;
  }
  .view-all {
  }
  .all-sale-item {
    padding-bottom: 20px;
  }
  .wrapper-1 {
    max-width: 1140px !important;
  }
  .wrapper-3 {
    width: 100%;
    max-width: 1084px;
    position: relative;
  }
  .container-new {
    margin-top: 30px;
  }

  #content3 {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  #content2 {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
  .filter-by {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 14px;
  }

  #prev1,
  #next1 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  #carousel1 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  #carousel3 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .line {
    width: 100%;
  }
  .foter-abs {
    width: 100%;
  }
  .view-all {
  }
  .baner-text {
    width: 40%;
    right: 9%;
    top: 20%;
    text-align: center;
    color: #000c;
  }
  .go-view {
    font-size: 10px;
  }
  .h5-sale-1 {
    font-size: 80%;
}
  .view-sale {
    font-size: 10px;
  }
  .logo-name p {
    margin-bottom: 0;
  }
  .justify-content-center {
    justify-content: space-between !important;
  }
  .item-child-1 {
    width: 13rem;
    height: 13rem;
  }

  /* bo game */

  .text-bo-game {
    /* padding-right: 7rem; */
  }
  .text-bo-game-1 {
    /* padding-right: 0;
          padding-left: 7rem; */
  }
  .text-bo-game-2 {
    /* padding-right: 0;
          padding-left: 2rem; */
  }
  .img-bo-game {
    width: 58%;
  }
  .h4-bo-game {
  }
  .body-bo-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .p-bo-game {
  }
  .btn-bo-game {
    padding: 1px;
    border: 1px solid transparent;
    /* width: 130px; */
    margin: 0 30px;

    font-size: 13px;
    border-radius: 30px;
  }
  .btn-bo-game:hover {
    border: 1px solid #2871c6;
  }

  .main-btn {
    padding: 8px;
    background: #2871c6;
    width: 50px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    padding: 8px;
    background: #2871c6;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 30px;
  }

  .title-text-bo-game {
    color: #4d4d4d;
  }
  .gamepad-2 {
    font-size: 2rem;
  }
  .pt-5 {
    margin-top: 5rem;
    padding-top: 0 !important;
  }
  .item-navbar-child {
    margin: 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .all-icon-nav {
    font-size: 14px;
    padding: 0 6px;
  }
  .navbar-all-item {
    padding-left: 0;
  }
  .gio-hang {
    margin: 0 4px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .carousel-item-2 {
    width: 80%;
    right: 65%;
    bottom: 1.25rem;
  }
  .title-web {
    top: 16%;
    /* left: 40px; */
    text-align: center;
    font-weight: 600;
    color: #000c;
    left: 3rem;
}

.btn-primary-baner {
  background: #fff;
  color: #ef3b3c;
  border: 0.5px solid #ef3b3c;
  margin-right: 11px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-icon-nav-baner {
  font-size: 10px;
  margin-right: 4px;
}
.carousel-caption2{
  left: 45%;
  bottom: 39%;
  width: 50%;
  color: #181818;
  
}
.carousel-caption-8 {
  left: 10%;
  bottom: 11%;
  width: 50%;
}

.carousel-caption1 {
  right: 39%;
  bottom: 8%;
  width: 50%;
}
.carousel-caption p {
  font-size: 12px;
}
.carousel-caption h5{
  font-size: 1rem;
}
.dropdown-toggle-1 {
  margin: 0 10px;
  color: #fff;
  font-weight: bold;
  background: none;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
}
.btn-bo-game-1{
  width: 30%;
  margin-left: 35%;
}
}
@media (max-width: 767px) {
  .translate-middle {
    transform: translate(-50%,-50%)!important;
}
  .navbar-toggler-1 {
    display: block;
    position: absolute;
    left: 144px;
  }
  .item-navbar {
    display: none;
  }

  .carousel-item-1 {
    bottom: 2.25rem;
    left: 39%;
  }
  .carousel-item-2 {
    width: 80%;
    right: 65%;
    bottom: 1.25rem;
  }
  .carousel-item-3 {
    bottom: 2.25rem;
    left: 50%;
  }
  .title-web {
    top: 15%;
    /* left: 40px; */
    text-align: center;
    font-weight: 600;
    color: #000c;
    left: 3%;
  }
  .h1-you-need {
    font-size: 65%;
    font-weight: bolder;
    color: #f1f1f1;
    letter-spacing: 1px;
    line-height: 1.2;
    /* padding-inline: 0rem; */
  }
  .h4-input-main {
    font-weight: bolder;
    color: white;
    font-size: 1.4rem;
  }
  .login-email {
    margin-top: 10px;
  }
  .p-input {
    font-weight: bolder;
    color: white;
    font-size: 0.4rem;
  }
  .form-input-main {
  }
  .input-main {
    width: 54%;
    /* height: 2rem; */
    /* padding: 8px; */
    height: 0%;
    padding: 9px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 10px;
  }
  .a-input {
    padding: 6px 11px;
    color: #fff;
    background-color: #ef3b3c;
    margin-left: -60px;
    border-radius: 7px;
    font-size: 9px;
  }
  .d-none {
    display: inline-block !important;
  }
  .card-img-overlay-1 {
    position: absolute;
    top: 17%;
    right: 11%;
    z-index: 200;
    width: 19%;
  }
  .card-text {
    color: black;
    font-size: 8px;
  }

  .view-all {
  }
  .all-sale-item {
    padding-bottom: 20px;
  }
  .line {
    width: 100%;
  }
  .foter-abs {
    width: 100%;
  }
  .view-all {
  }
  .baner-text {
    width: 40%;
    right: 9%;
    top: 20%;
    text-align: center;
    color: #000c;
  }
  .go-view {
    font-size: 10px;
  }
  .view-sale {
    font-size: 10px;
  }
  .logo-name p {
    margin-bottom: 0;
    display: none;
  }
  .justify-content-center {
    justify-content: space-between !important;
  }

  /* bo game */

  .text-bo-game {
    /* padding-right: 7rem; */
  }
  .text-bo-game-1 {
    /* padding-right: 0;
  padding-left: 7rem; */
  }
  .text-bo-game-2 {
    /* padding-right: 0;
  padding-left: 2rem; */
  }
  .text-bo-game,
  .text-bo-game-1,
  .text-bo-game-2 {
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-bo-game {
    width: 73%;
  }
  .h4-bo-game {
  }
  .body-bo-game {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .p-bo-game {
  }
  .btn-bo-game {
    padding: 1px;
    border: 1px solid transparent;
    width: 130px;
    font-size: 13px;
    border-radius: 30px;
  }
  .btn-bo-game:hover {
    border: 1px solid #2871c6;
  }

  .main-btn {
    padding: 8px;
    background: #2871c6;
    width: 50px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    padding: 8px;
    background: #2871c6;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 30px;
  }
  .title-text-bo-game {
    color: #4d4d4d;
  }
  .form-select {
    width: 32%;
    margin: 0 2px;
    font-size: 12px;
  }
  .form-select-1 {
    font-size: 13px;
    width: 47%;
  }

  .a-filter {
    padding: 4px 20px;
  }

  /* item */
  .item {
    width: 9.5rem;
    height: 9.5rem;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000029;
  }
  .item-1 {
    text-align: center;
    padding: 5px;
    border-radius: 20px;
  }
  .item-1-2 {
    background: none;
  }
  .item-text-1 {
    /* background-color: #fff; */
    padding: 0 6px;
    text-align: start;
  }
  #content3 {
    display: grid;
    grid-gap: 21px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    margin-top: 10px;
  }

  #content {
    display: grid;
    grid-gap: 21px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    margin-top: 10px;
  }
  #content2 {
    display: grid;
    grid-gap: 3px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  .h5-price-item {
    color: #000c;
    font-size: 13px;
    color: #ef3b3c;
  }
  .h6-name-item {
    font-size: 14px;
  }
  .nav-img-2 {
    width: 45px;
  }
  .nav-img-3 {
    width: 45px;
  }
  .h4-sale-1 {
    font-size: 12px;
  }
  .h5-sale-1 {
    font-size: 10px;
  }
  .h2-highlight {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 14px;
  }
  .container {
    max-width: 740px;
  }
  .carousel-caption1 {
    right: 39%;
    bottom: 2.25rem;
    width: 50%;
  }
  .carousel-caption1-2 {
    left: 16rem;
    top: 1rem;
    width: 50%;
  }
  .carousel-caption2-4 {
    top: 0;
    right: -15rem;
  }
  .carousel-caption-9 {
    left: 11rem;
    top: 2rem;
    width: 50%;
  }
  .carousel-caption-10 {
    left: 0;
    bottom: 9.25rem;
    width: 50%;
  }
  .carousel-caption2 {
    left: 25%;
    top: 20%;
    width: 50%;
    color: #181818;
  }
  .carousel-caption p {
    font-size: 10px;
  }
  .carousel-caption2-3,
  .carousel-caption2-4,
  .carousel-caption2-5 {
    color: #fff;
  }
  .carousel-caption2-5 {
    left: 12rem;
    bottom: 5rem;
    width: 50%;
  }
  .carousel-caption3 {
    left: 40rem;
    bottom: 11rem;
    width: 50%;
  }
  .carousel-caption-8 {
    left: 6rem;
    bottom: 5rem;
    width: 50%;
  }
  .carousel-caption-7 {
    right: 0;
    bottom: 2rem;
    width: 50%;
  }
  .carousel-caption-6 {
  }
  .btn-primary-baner {
    background: #fff;
    color: #ef3b3c;
    border: 0.5px solid #ef3b3c;
    margin-right: 11px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-icon-nav-baner {
    font-size: 10px;
    margin-right: 4px;
  }
  .all-icon-nav-baner {
    padding-right: 4px;
  }
  .nav-img{
    width: 15%;
  }
  .navbar-toggler {
    background-color: #fff;
    font-size: 0.5rem;
}
  .all-icon-nav {
    font-size: 14px;
    padding: 0 6px;
  }
  .container-theend {
    margin-bottom: 20px;
  }
  .mt-5 {
    margin-top: 0 !important;
  }
  /* ps */
  .item-ps {
    width: 4rem;
    height: 4rem;
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 16px;
    margin-left: 1rem;
  }
  .list-ps {
    width: 36rem;
    position: absolute;
    bottom: -6rem;
    left: 3rem;
  }
  .modal-header {
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
  }
  .modal-sm {
    --bs-modal-width: 230px;
  }
  .modal-title {
    font-size: 12px;
  }
  .form-control {
    width: 21rem;
  }
  .item-child-1 {
    width: 10.5rem;
    height: 10.5rem;
  }
  .btn-danger{
    font-size: 10px;
    background-color: #2871c6 !;

  }
  .filter-by {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 10px;
}
.btn-bo-game-1{
  width: 71%;
  margin-left: 15% !important;
  font-size: 12px;
}
/* .carousel-caption h5,p {
  display: none ;
} */

}
@media (max-width:507px){
  .btn-nav-n .all-icon-nav-1{
    font-size: 14px;
  }
  .input-main {
    width: 47%;
    /* height: 2rem; */
    /* padding: 8px; */
    height: 0%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 6px;
}
.a-input {
  padding: 2px 9px;
  color: #fff;
  background-color: #ef3b3c;
  margin-left: -53px;
  border-radius: 7px;
  font-size: 8px;
}
.nav-img {
  width: 30%;
}
.navbar-brand{
  width: 40%;
}
.card-img-overlay-1 {
  position: absolute;
  top: 12%;
  right: 4%;
  z-index: 200;
  width: 30%;
}
.carousel-caption1 {
  left: 27%;
  bottom: 10%;
  width: 50%;
}
.carousel-caption-8 {
  left: 13%;
  bottom: 6%;
  width: 50%;
}
.carousel-caption2 {
  left: 25%;
  top: 20%;
  width: 50%;
  color: #181818;
}
.carousel-caption p {
  font-size: 8px;
  margin-bottom: 6px;
  /* display: none; */
}
.carousel-caption h5 {
  font-size: 10px;
}
.btn-primary-baner {
  font-size: 6px;
  padding: 7px 6px;
}
.form-control {
  width: 141px;
  font-size: 6px;
}
.btn-outline-success-2 {
  background-color: green;
  color: #fff;
  font-size: 6px;
}
.you-want h1{
  font-size: 1rem;
}

.my-2 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.my-2 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.form-none {
  display: none;
  position: absolute;
  bottom: -13px;
  right: 47px;
}
.all-icon-nav,
.all-icon-nav-baner {
  font-size: 14px;
  /* padding: 0 6px; */
}
.carousel-item-1 {
  right: -12%;
  bottom: 30%;
  left: 15%;
}
.all-icon-nav-1,
.all-icon-nav-baner-2{
  font-size: 10px;
}
.carousel-item-3 {
  right: -24%;
  bottom: 20%;
}
.card-text{
  /* display: none; */
}
.h3-sale{
  font-size: 1.2rem;
}
.filter-1 {
  justify-content: end;
  width: 100%;
}
.rels-1 {
    margin-bottom: 0;
    font-size: 8px;
    margin-right: 5px;
    width: 27%;
    text-align: end;
}
.filter-by {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 10px;
  width: 40%;
  text-align: end;
}
.form-select-1 {
  font-size: 8px;
  width: 37% !important;
}
.form-select {
  width: 32%;
  margin: 0 2px;
  font-size: 8px;
}
.btn-danger {
  font-size: 8px;
}
.h5-sale-1 {
  font-size: 8px;
}
.highlight{
  font-size: 1.2rem;
}
.nav-link{
  font-size: 10px;
}
.title-web {
  top: 8%;
  text-align: center;
  font-weight: 600;
  color: #000c;
  left: 6%;
  width: 330px;
  padding: 20px 0;
}

.container-fluid {
  padding: 0 2rem;
}
.item {
  width: 8.5rem;
  height: 8.5rem;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 #00000029;
}
#content {
  display: grid;
  grid-gap: 21px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  margin-top: 10px;
}
.item-1 {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}
.carousel-caption-10 {
  left: 17%;
  bottom: 2.25rem;
  width: 50%;
}
.modal-content{
  width: 70%;
}
.h6-news-item {
  text-align: start;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 10px;
}
.dang p{
  font-size: 6px;
}
.dang{
  padding: 6px 0;
  padding-right: 24px;
}
.card-text-none{
  display: none;
}
.baner-text {
  width: 47%;
  right: 5%;
  top: 20%;
  text-align: center;
  color: #000c;
}
.btn-bo-game-1{
  width: 71%;
  margin-left: 15% !important;
  font-size: 8px;
}
.text-tive h4{
  font-size: 14px;
}
.btn-bo-game-12{
  width: 44%;
  margin-left: 27% !important;
}
a span {
  font-size: calc(
    14px + (13 - 14) * ((100vw - 360px) / (1600 - 360))
  ) !important;
  
}
.modal-dialog-scrollable {
  justify-content: center;
  display: flex;
}
.translate-middle {
  transform: translate(-50%,-50%)!important;
}
}
